.DS_Store
*.swp
*~.nib

build/

*.pbxuser
*.pbxtree
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3

*.xcodeproj/project.xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*

# if not using Xcode 4:
*.xcodeproj/project.xcworkspace/*
